{% extends 'main.html' %} 
{% load static %} 
{% block title %} {% endblock %} 
{% block head %} {% endblock head%}
 {% block content %}



 <div class="container-fluid bg-primary"  >
     
  
     <div class="container">
        <div class="row">
            <div class="p-4 p-md-5 mb-4 text-white  ">
                <div class="col-md-6 px-0">
                  <h1 class="display-4 ">ALBI D'ORO</h1>
                  <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                  <a href="" class="btn btn-outline-light">prova</a>
                </div>
              </div> 
     </div>
   

    </div>
 </div>
 
 
<section class="container my-5">
    <div class="row">

        
        {% for albiDoro  in albiDoro  %}
        
      
 


    <div class="col-lg-4 col-md-6 ">
        <div class="shadow mt-4">
            <a href="{{albiDoro.pdf.url}}" target="_blank">    
        <img src="{{albiDoro.img.url}}" class="img-fluid" style="border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0 ;
        border-bottom-left-radius: 0 ; ">
</a>

            <a  class="btn btn-lg btn-primary w-100" style="border-top-left-radius: 0 ;
            border-top-right-radius: 0 ;
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;"  href="{{albiDoro.pdf.url}}" target="_blank">{{albiDoro.nome}}</a>
       
 
        </div>
         
 
    </div>
{% endfor %}

    </div>
</section>
          
               
 
  
 
{% endblock content %}

 