<div class="container-fluid py-5 " style="background-color: #041D38;">
    <div class="container ">
        <div class="row">
<div class="col-lg-4">
<h5 class="text-white"><i class="fas fa-archive"></i> Archivio</h5>
<hr class="w-100" style="color: #fff;">
<ul class="nav flex-column">
<li class="nav-item">
    <a class="nav-link text-white" href="#">Gare</a>
  </li>


  <li class="nav-item">
    <a class="nav-link text-white" href="#">Classifiche</a>
  </li>
  
<li class="nav-item">
    <a class="nav-link text-white" href="#">Categorie</a>
  </li>
</ul> 
</div>
      

<div class="col-lg-8">
    <h5 class="text-white">Contatti</h5>
    <hr class="w-100" style="color: #fff;">
    </div>

    
    
<div class="col-lg-12 text-center">
    <hr style="color: #fff;">
    <h6 class="text-white">Copyright © 2022 Federazione Bocciofila Ticinese. All Rights Reserved.</h6>
    </div>
</div>
    </div>
</div>